{% load static %}

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Bộ sưu tập xu hướng 2023</p>

    <div class="pro-container">
        <div class="pro">
            <img src="{% static 'images\products\ao.png'%}" alt="">    
            <div class="des">
                <span>Bad Habbit</span>
                <h5>GREY RENAISSANCE STAMP TEE</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>400.000</h4>
            </div>    
            <a href="#"><i class="fa-solid fa-cart-shopping "></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'images\products\pro1.png'%}" alt="">    
            <div class="des">
                <span>Bad Habbit</span>
                <h5>GREY RENAISSANCE STAMP TEE</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>400.000</h4>
            </div>    
            <a href="#"><i class="fa-solid fa-cart-shopping "></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'images\products\pro1.png'%}" alt="">    
            <div class="des">
                <span>Bad Habbit</span>
                <h5>GREY RENAISSANCE STAMP TEE</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>400.000</h4>
            </div>    
            <a href="#"><i class="fa-solid fa-cart-shopping "></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'images\products\pro1.png'%}" alt="">    
            <div class="des">
                <span>Bad Habbit</span>
                <h5>GREY RENAISSANCE STAMP TEE</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>400.000</h4>
            </div>    
            <a href="#"><i class="fa-solid fa-cart-shopping "></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'images\products\pro1.png'%}" alt="">    
            <div class="des">
                <span>Bad Habbit</span>
                <h5>GREY RENAISSANCE STAMP TEE</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>400.000</h4>
            </div>    
            <a href="#"><i class="fa-solid fa-cart-shopping "></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'images\products\pro1.png'%}" alt="">    
            <div class="des">
                <span>Bad Habbit</span>
                <h5>GREY RENAISSANCE STAMP TEE</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>400.000</h4>
            </div>    
            <a href="#"><i class="fa-solid fa-cart-shopping "></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'images\products\pro1.png'%}" alt="">    
            <div class="des">
                <span>Bad Habbit</span>
                <h5>GREY RENAISSANCE STAMP TEE</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>400.000</h4>
            </div>    
            <a href="#"><i class="fa-solid fa-cart-shopping "></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'images\products\pro1.png'%}" alt="">    
            <div class="des">
                <span>Bad Habbit</span>
                <h5>GREY RENAISSANCE STAMP TEE</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>400.000</h4>
            </div>    
            <a href="#"><i class="fa-solid fa-cart-shopping "></i></a>
        </div>
    </div>
</section>
