{% extends 'main.html' %}
{% load static %}
{% block content %}

<section id="hero">
    <h4> Chào mừng đến với cửa hàng</h4>
    <h1>Bộ sưu tập mới</h1>
    <p>Giảm giá ngày ra mắt lên đến 50%</p>
    <button>Shop Now</button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <a href="/">
            <img src="{% static 'images/forMen.jpg'%}" alt="forMen">
        </a>
        <h6>Men Fashion</h6>
    </div>
</section>

{% include 'product.html' %}
{% endblock content %}