{% load static %}

<section id="header">
    <div class="logo-container">
        <a href="/">       
            <img src="{% static 'images/logo.jpg' %}" class="logo" alt="Logo">
        </a>
    </div>

    <div>
        <ul id="navbar">
            <li><a class="active" href="base\templates\base\home.html">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">For Him</a></li>
            <li><a href="">For Her</a></li>
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>
</section>