{% load static %}

<section id="header">
    <div class="logo-container">
        <a href="/">       
            <img src="{% static 'images/logo.jpg' %}" class="logo" alt="Logo">
        </a>
    </div>

    <div class="search-container">
        <form action="" class="search-bar">
            <input type="text" placeholder="Search" name="q">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

    </div>

    <div>
        <ul id="navbar">
            <li><a class="active" href="/home">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">For Him</a></li>
            <li><a href="">For Her</a></li>
            <div class="cart-btn"><li><a href="cart"><i class="fa-solid fa-cart-shopping"></i></a></li></div>
        </ul>
    </div>

    
</section>